<nav class="grey ">
    <div class="container"
    <div class="nav-wrapper">
        <a href="/stories" class="brand-logo center">CookNChill</a>
        <a href="#" data-activites="main-menu"
        class="button-collapse show-on-large"><i class="fa fa-bars"</i></a>
    <!--right nav-->
    <ul class="right hide-on-small-only">
        {{#if user}}
        <li><a href="/dashboard">Welcome {{user.firstName}}</a></li>
        <li><a href="/auth/logout">Logout<i class="fa fa-sign-out"></a></li>
        {{else}}
        <li><a href="/stories"><i class="fa fa-book"></i>Food Stories</a></li>
        {{/if}}
    </ul>    
        <!--side menu -->
        <ul class="side-nav" id="main menu">
            <li>
              {{#if user}}
              {{else}}
                <a class="btn red darken-1" href="/auth/google"><i class="fa ga-google left"></i>Login with Google</a>
              {{if}}
              <li><a href="/stories"><i class="fa fa-book"></i></a></li>  
            Stories</a></li>
              {{#if user}}  
            <li class="divider"></li>
              <li><a href="/dashboard"><i class="fa fa-cog"></i>Dashboard</a></li>
              <li><a href="/stories/my"><i class="fa fa-user"></i class="fa fa-sign-out"</a></li>  
            Stories</a></li>
               <li><a href="/auth/logout"><i class="fa fa-sign-out"<i/>Logout</a></li> 
              {{/if}}          
        </ul> 
    </div>
</div>
</nav>