<hi>About</hi>
<h3>CookNChill is about food discoveries. Some have discovered they like cooking their discoveries in the process and sharing them with the world. Others simply talk about the meal they enjoyed.

</h3>