<hi>Welcome</hi>
<p>Welcome to CookNChill</p>
<p>Post your favorite recipes and your food stories</p>
<a class="red darken-1" href="/auth/google"><i class="fa ga-google left"></i>Login with Google</a>
